.hero-artwork .motion-card{left:56.293%;top:27.776%;width:8.300%;--duration:6.52s;--delay:-0.37s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-blur{left:7.962%;top:79.609%;width:14.000%;--duration:7.13s;--delay:-0.74s;--x:0px;--y:3px;--angle:0deg}
.hero-artwork .motion-scribble{left:85.442%;top:49.381%;width:12.000%;--duration:8.36s;--delay:-1.48s;--x:0px;--y:3px;--angle:0deg}
.hero-artwork .motion-signal{left:85.812%;top:18.374%;width:11.500%;--duration:5.90s;--delay:-1.85s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-arc{left:68.245%;top:7.000%;width:21.500%;--duration:6.52s;--delay:-2.22s;--x:0px;--y:3px;--angle:0deg}
.hero-artwork .motion-plus{left:65.031%;top:4.217%;width:8.000%;--duration:7.13s;--delay:-2.59s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-drop{left:42.653%;top:7.106%;width:12.000%;--duration:7.75s;--delay:-2.96s;--x:0px;--y:3px;--angle:0deg}
.hero-artwork .motion-error{left:20.973%;top:2.276%;width:17.900%;--duration:8.36s;--delay:-3.33s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-stroke{left:10.000%;top:17.000%;width:29.000%;--duration:5.90s;--delay:-3.70s;--x:0px;--y:3px;--angle:0deg}
.hero-artwork .motion-ball{left:25.319%;top:24.957%;width:4.300%;--duration:6.52s;--delay:-4.07s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-spray{left:2.920%;top:51.944%;width:16.900%;--duration:7.75s;--delay:-4.81s;--x:0px;--y:-3px;--angle:0deg}
.hero-artwork .motion-screen{left:2.000%;top:2.000%;width:17.800%;--duration:6.97s;--delay:-1s;--x:0px;--y:-3px;--angle:0deg}
